* {
  margin: 0;
  padding: 0;
}

html {
  height: fit-content;
  width: fit-content;
  margin: 0;
  padding: 0;
}

body,
.outer {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: rgb(15, 9, 31);
}

.Description,
.intro_span {
  font-family: 'sans-serif';
  font-size: 30px;
}

span[class='Desc'] {
  display: flex;
  gap: 10px;
  justify-content: center;
  font-family: 'sans-serif';
  font-size: 30px;
}

.desc {
  font-family: 'sans-serif';
  font-size: 30px;
}

.Description .role {
  border-right: 2px solid;
  font-weight: 500;
  color: #10d5db;
  animation: blink 0.5s steps(4) infinite;
}

.name {
  color: #fff;
}

.namedSkills {
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
}

.skills {
  height: 20vh;
  width: 15%;
}

.skills img {
  width: 100%;
  aspect-ratio: 6/2;
  object-fit: contain;
  cursor: pointer;
}

.skills img[name='Github'] {
  width: 100%;
  aspect-ratio: 5/2;
  object-fit: contain;
  mix-blend-mode: color-dodge;
}

#about h2 {
  font-family: 'sans-serif';
  color: #00f7ff;
}

.Contact-No {
  font-family: 'sans-serif';
}

@keyframes anim {
  0% {
    left: 2%;
  }
  100% {
    left: 10%;
  }
}

.detail {
  height: 45em;
  color: #ffcdcd;
  background-color: rgb(15, 9, 31);
}

.about {
  width: 100%;
  color: #ffcdcd;
}

a {
  text-decoration: none;
}

a:hover {
  color: #2894fa;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.pro1,
.pro2,
.pro3,
.pro4,
.pro5,
.pro6 {
  margin-right: 10%;
  transition: transform 0.4s ease;
  border-radius: 5%;
  text-decoration: none;
  color: #000;
  background: rgba(255, 255, 255, 0.6);
  text-align: left;
  cursor: pointer;
  height: 50vh;
  width: 25vw;
}

.pro {
  display: flex;
}

.pro .p {
  display: flex;
  height: 115vh;
  width: 100%;
  flex-wrap: wrap;
  justify-content: end;
}

.innerdiv {
  color: #000000;
  flex-direction: column;
  display: flex;
  gap: 25px;
  justify-content: center;
  height: 100%;
  transform: scaleX(-1);
}

.innerdiv span {
  font-size: larger;
}

.seeProj {
  text-align: center;
}

.pro .p .pro1 img:hover,
.pro .p .pro2 img:hover,
.pro .p .pro3 img:hover,
.pro .p .pro4 img:hover,
.pro .p .pro5 img:hover,
.pro .p .pro6 img:hover {
  transform: scale(1.04);
}

button {
  width: 20%;
  text-align: center;
  margin: 0 auto;
  transition: transform 0.5s ease;
}

button:hover {
  transform: rotateX(20deg);
}

.Contact-form .sm {
  width: 40%;
  border-radius: 10%;
}

.Contact-form {
  width: 530px;
  height: 310px;
  border-radius: 2%;
  flex-wrap: wrap;
  font-family: 'sans-serif';
}

#contact {
  color: #fff;
  min-height: 100vh;
  width: 100%;
}

#contact footer .address {
  position: absolute;
  top: 190.375em;
  right: 40px;
}

footer {
  height: 17em;
  width: 100%;
  text-align: center;
  font-family: 'sans-serif';
}

.sym {
  color: rgb(240, 30, 30);
  font-weight: bold;
}

input {
  width: 50%;
  height: 170%;
}

textarea {
  width: 50%;
  height: 150%;
}

.spin {
  border: 2px solid blue;
  height: var(--spinner-size);
  width: var(--spinner-size);
  background-color: #fff;
  align-content: center;
  display: flex;
  flex: 0 0 auto;
  align-items: stretch;
  --spinner-size: 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #ffffff;
}

.spin .spinner_bar1 {
  height: 10px;
  width: 40px;
  background-color: #e03308;
}

.spin .spinner_bar2 {
  height: 10px;
  width: 40px;
  background-color: #03db20;
}

.spin .spinner_bar3 {
  height: 10px;
  width: 40px;
  background-color: #bbff00;
}

.square {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: transparent;
}

.square .navbar {
  background: rgb(39, 39, 73);
  height: 100%;
  width: 100%;
}

.navbar a {
  font-size: larger;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.resume {
  margin-top: 50px;
  background: #ca1634;
  border-radius: 100px;
}

.resume:hover {
  box-shadow: 0 5px 25px teal;
}

.resume a {
  text-decoration: none;
  color: #51ff00;
}

.heading {
  text-align: center;
}

.photo {
  margin-left: 40%;
  margin-right: 40%;
  justify-content: center;
  aspect-ratio: 1.4/2;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid blue;
  border-radius: 10%;
}

.photo:hover {
  border-radius: 10%;
  mix-blend-mode: luminosity;
}

#ClickMessage {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  transition: color 0.3s ease;
}

#ClickMessage::before {
  content: 'Send Message';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: rgb(53, 119, 119);
  transition: all 0.5s ease;
  z-index: 0;
}

#ClickMessage:hover::before {
  left: 0;
  color: #fff;
}

#ClickMessage:hover {
  color: #fff;
}

#ClickMessage span,
#ClickMessage {
  position: relative;
  z-index: 1;
}

.img[name='Express.js'] {
  object-fit: contain;
  aspect-ratio: 3/1;
  width: 80%;
  transition: filter 0.6s ease;
  filter: saturate(100%) invert(65%) sepia(70%) saturate(820%)
    hue-rotate(900deg) brightness(100%) contrast(100%);
}

span,
h5 {
  text-align: center;
}

.outer h2,
#projects h2 {
  font-family: 'sans-serif';
  font-size: 30px;
  text-align: center;
  color: #00f7ff;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about .about .desc {
  display: block;
  margin-left: 3%;
  margin-right: 3%;
}

.sk {
  text-align: center;
  padding-top: 25%;
}

#contact a {
  height: fit-content;
}

#contact a .github {
  width: 70px;
  aspect-ratio: 1.3/1;
  object-fit: contain;
  mix-blend-mode: hard-light;
}

#contact a .linkedin {
  padding-top: 15px;
  width: 70px;
  aspect-ratio: 2/1;
  object-fit: contain;
}

#contact a .gmail {
  margin-top: 30%;
  height: 100%;
  aspect-ratio: 4/2;
  object-fit: contain;
  mix-blend-mode: hard-light;
}

#Home,
#About,
#Projects,
#Contacts {
  text-decoration: none;
}

#Home:hover,
#About:hover,
#Projects:hover,
#Contacts:hover {
  text-decoration: underline;
  color: #ff2600;
}

@media screen and (min-width: 894px) and (max-width: 1115px) {
  #contact footer .address {
    position: absolute;
    top: 192.5em;
  }
}

@media screen and (min-width: 886px) and (max-width: 893px) {
  #contact footer .address {
    position: absolute;
    top: 194em;
  }
}

@media screen and (min-width: 757px) and (max-width: 885px) {
  #contact footer .address {
    position: absolute;
    top: 197em;
  }
}

@media screen and (min-width: 700px) and (max-width: 756px) {
  #contact footer .address {
    position: absolute;
    top: 200em;
  }
}

@media screen and (min-width: 650px) and (max-width: 699px) {
  #contact footer .address {
    position: absolute;
    top: 202em;
  }
  #about .about .desc {
    width: 20em;
    display: inline-block;
  }
}

@media screen and (min-width: 620px) and (max-width: 649px) {
  #contact footer .address {
    position: absolute;
    top: 205em;
  }

  .footer_content {
    width: 80%;
  }
}

@media screen and (min-width: 180px) and (max-width: 332px) {
  #contact footer .address {
    position: absolute;
    top: 110rem;
  }
}

@media screen and (min-width: 700px) and (max-width: 750px) {
  #about .about .desc {
    width: 22em;
    display: inline-block;
  }
}

@media screen and (min-width: 500px) and (max-width: 649px) {
  #about .about .desc {
    width: 18em;
    display: inline-block;
  }
}

@media screen and (min-width: 565px) and (max-width: 600px) {
  #about .about .desc {
    width: 17em;
  }
}

@media screen and (min-width: 400px) and (max-width: 564px) {
  #about .about .desc {
    width: 16em;
  }
  .Description,
  .Desc,
  .intro_span {
    width: 18em;
  }
}

@media screen and (min-width: 320px) and (max-width: 585px) {
  .namedSkills {
    column-gap: 15px;
    width: 50%;
  }
}

@media screen and (min-width: 0) and (max-width: 620px) {
  .Description,
  .Desc,
  .intro_span {
    width: 20em;
  }

  #contact footer .address {
    top: 205rem;
    width: 25%;
  }

  .footer_content {
    width: 80%;
  }
}

@media screen and (min-width: 590px) and (max-width: 620px) {
  .namedSkills {
    column-gap: 10px;
    width: 95%;
  }
}

@media screen and (min-width: 560px) and (max-width: 589px) {
  .namedSkills {
    width: 100%;
  }
}

@media screen and (min-width: 520px) and (max-width: 559px) {
  .namedSkills {
    width: 100%;
  }
}

@media screen and (min-width: 460px) and (max-width: 519px) {
  .namedSkills {
    width: 100%;
  }
}

@media screen and (min-width: 390px) and (max-width: 459px) {
  .namedSkills {
    width: 100%;
  }
}

@media screen and (min-width: 310px) and (max-width: 389px) {
  .namedSkills {
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 664px) {
  .pro .p {
    width: 100%;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  #contact footer .address {
    top: 183em;
  }
}

@media (min-width: 1441px) and (max-width: 1541px) {
  #contact footer .address {
    top: 194em;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  #contact footer .address {
    top: 175em;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  #contact footer .address {
    top: 180em;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  #contact footer .address {
    top: 188em;
    left: 500px;
  }
}
@media (min-width: 320px) and (max-width: 375px) {
  #contact footer .address {
    top: 183em;
    left: 500px;
  }
}
